<!doctype html>
<html lang="fr">
  <head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block moremeta %} {% endblock %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ "/lib/bootstrap.min.css"|asseturl }}" crossorigin="anonymous">

    <!-- pygment css -->
    <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">

    <!-- CSS Perso (aussi peu que possible) -->
    <link rel="stylesheet" href="{{ "/static/style.css"|asseturl }}">

    <!-- Favicon. Généré avec https://realfavicongenerator.net-->
    <link rel="shortcut icon" href="{{ "/static/favicon.png"|asseturl }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/static/apple-touch-icon.png"|asseturl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/static/favicon-32x32.png"|asseturl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/static/favicon-16x16.png"|asseturl }}">
    <link rel="manifest" href="{{ "/static/site.webmanifest"|asseturl }}">
    <link rel="mask-icon" href="{{ "/static/safari-pinned-tab.svg"|asseturl }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ "/static/favicon.png"|asseturl }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ "/static/browserconfig.xml"|asseturl }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="alternate" type="application/atom+xml" title="Lecluse — Blog" href="{{ '/blog@atom/blog'|url }}">

    <title>{% block title %}Bienvenue{% endblock %} — Informatique au lycée</title>

    <!-- Metadata et Open graph protocol -->
    {% block opengraph %}
      <meta property="og:title" content="{{ config.PROJECT.name }}" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="{{ this|url(external=true) }}" />
      <meta property="og:image" content="{{ "/static/logo.png"|url(external=true) }}" />
      <meta property="og:description" content="L'informatique au lycée." />
      <meta property="og:locale" content="{{ config.PROJECT.locale }}" />
      <meta property="og:site_name" content="{{ config.PROJECT.name }}" />

      <meta name="description" content="L'informatique au lycée." />
      <meta name="author" content="{{ config.PROJECT.author }}" />
    {% endblock %}

    {% block morehead %}{% endblock %}

  </head>
  <body>
    <!-- Mathjax -->
    <script src="{{ "/static/mathjax.js"|asseturl }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand {% if this._path == '/' %}active{% endif %}" href="{{ '/'|url }}">
        <img id="logo" alt="logo" src="{{ "/static/logo.png"|asseturl }}" height=16>
        &nbsp;
        Accueil
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          {% for href, title in [
          ['/maths', 'Maths'],
          ['/snt', 'SNT'],
          ['/nsi', 'NSI'],
          ['/info', 'Informatique'],
          ['/blog', 'Blog'],
          ['/about', 'À propos'],
          ] %}
          <li class="nav-item {% if this.is_child_of(href) %}active{% endif %}">
            <a class="nav-link" href="{{ href|url }}">
              {{ title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
    <ol class="breadcrumb mb-0">
      {% if site.get('/') == this %}
          <li class="breadcrumb-item active">Accueil</li>
      {% else %}
          <li class="breadcrumb-item"><a href="{{ site.get('/').url_path|url }}">Accueil</a></li>
      {% endif %}
      {% set parents = this.path.split("/")[1:-1] %}
      {% for page in parents %}
        {% if "@" in page %}
          <li class="breadcrumb-item">{{ page }}</li>
        {% else %}
          <li class="breadcrumb-item"><a href="{{ site.get("/" + "/".join(parents[:loop.index])).url_path|url }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}
      {% if site.get('/') != this %}
          <li class="breadcrumb-item active">{{ this.path.split("/")[-1] }}</li>
      {% endif %}
    </ol>

    <div class="container-fluid px-0 mx-0 ">
      {% block body %}{% endblock %}
    </div>

    <div class="form-group">
      &nbsp;
    </div>

    <footer class="text-center footer" id="footer">
      <hr>
      <img src="https://licensebuttons.net/l/by-sa/4.0/80x15.png" alt="Licence Creative Commons BY-SA 4.0"> — Olivier Lecluse — 2020
      <br> <a href="/sitemap/">Plan du site</a> —
      <a href="{{ '/blog@atom/blog'|url }}">S'abonner <img src="{{ "/static/feed.svg"|asseturl }}" alt="Atom feed" height=14 width=14></a>
      <br>
      Construit avec <a href="//getlektor.com">Lektor</a>
      <div class="ga-script">{{ generate_google_analytics() }}</div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ "/lib/jquery-3.2.1.slim.min.js"|asseturl }}"></script>
    <script src="{{ "/lib/popper.min.js"|asseturl }}"></script>
    <script src="{{ "/lib/bootstrap.min.js"|asseturl }}"></script>
  </body>
</html>
