{% extends "layout.html" %}

{% block head %}
<meta http-equiv="Refresh" content="0; url={{ this.target|url }}" />
{% endblock %}

{% block title %}Redirection{% endblock %}

{% block body %}
<p>
Cette page a été déplacée vers <a href="{{ this.url }}">{{ this.url }}</a>.
</p>
{% endblock %}
