{% extends "layout.html" %}

{% block title %}Sitemap{% endblock %}

{% block body %}
<div class="row mx-0">
  <div class="col-sm-8 offset-sm-2">
    <h1>Sitemap</h1>

    <ul class="sitemap">
      {% for page in [site.root] if page.record_label recursive %}
      <li><a href="{{ page|url }}">{{ page.record_label }}</a>
        {% if page.children %}
          <ul>{{ loop(page.children) }}</ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
